<table style="display:none;" class="table" id="tablr">
    <thead>
        <th style="background-color:green;">FREE</th>
        <th style="background-color:red;">RESERVED</th>
    </thead>
    <tr>
        <td id=16 class="hours">08:00-08:30</td>
        <td id=17 class="hours">08:30-09:00</td>
    </tr>
    <tr>
        <td id=18 class="hours">09:00-09:30</td>
        <td id=19 class="hours">09:30-10:00</td>
    </tr>
    <tr>
        <td id=20 class="hours">10:00-10:30</td>
        <td id=21 class="hours">10:30-11:00</td>
    </tr>
    <tr>
        <td id=22 class="hours">11:00-11:30</td>
        <td id=23 class="hours">11:30-12:00</td>
    </tr>
    <tr>
        <td id=24 class="hours">12:00-12:30</td>
        <td id=25 class="hours">12:30-13:00</td>
    </tr>    
    <tr>
        <td id=26 class="hours">13:00-13:30</td>
        <td id=27 class="hours">13:30-14:00</td>
    </tr>
    <tr>
        <td id=28 class="hours">14:00-14:30</td>
        <td id=29 class="hours">14:30-15:00</td>
    </tr>
    <tr>
        <td id=30 class="hours">15:00-15:30</td>
        <td id=31 class="hours">15:30-16:00</td>
    </tr>
</table>